@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
   
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.main-img{
    background-image:url(../Images/background/bg_1.jpg);
    height: 642px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navb{
    height: 62px;
    width:100%;
    background-color: black;
}
.adv{
    font-family: "Poppins", sans-serif;
}
.menu-icon{
    color: #FFFFFF80;
}
.menu-icon2{
    margin-left: 100px;
    margin-top: 10px;
}


.menu-name{
    color: #FFFFFF80;
    font-family: "Poppins", sans-serif;
}

.menu-icon i{
    font-size: 25px;
}
.about-name{
    font-size: 45px;
    font-family: "Abril Fatface", serif;
    position: relative;
    left: 70px;
    top: 250px;
}
.con-name{
    font-family: "Poppins", sans-serif;
}
.name-1,.email-1,.sub{
    height: 52px;
    width: 290px;
    border: 1px solid rgb(206, 201, 201);
}
.mess{
    height: 171px;
    width: 290px;
    border: 1px solid rgb(206, 201, 201);
}
.sends{
    height: 57px;
    width: 214px;
    background-color: #F9BE37;
    color: white;
    border: none;
}
.footer{
    height:1278px;
    width: 100%px;
    background-color: #222831;
}
.foot-h2{
    font-family: "Poppins", sans-serif;
    padding-top: 110px;
}
.foot-h3{
    position: relative;
    top: 40px;
   font-size: 18px;
   position: relative;
   left: 10px;
   position: relative;
   right: 10px;
   color: gray;
}
.info{
    position: relative;
    top: 60px;
}
.list{
    position: relative;
    top: 60px;
    font-size: 25px;
}
.expe-footer{
    position: relative;
    top: 70px;
}
.exp-footer{
    position: relative;
    top: 70px;
}
.footer-loc,.footer-call,.footer-mail{
    color: white;
}
.loc{
    margin-top: 110px; 
}
.foot-h3{
    color: #FFFFFFB3;
}
.list{
    color: #FFFFFFB3; 
}
.exp-footer{
    color: #FFFFFFB3; 
}
.loc-p{
    color: #FFFFFFB3; 
}


@media(min-width:768px){
    .menu-icon2{
        margin-left: 530px;
    }
    .about-name{
        font-size: 35px;
        position: relative;
        left: 170px;
        top: 250px;
    }
    .name-1,.email-1,.sub{
        height: 52px;
        width: 490px;
    }
    .mess{
        width: 490px;
    }
    .sends{
        position: relative;
        top: 130px;
        left: -500px;
    }
    .footer{
        height: 500px;
    }
    .foot-h2,.info,.expe-footer{
        font-size: 20px;
    }
    .foot-h2{
        position: relative;
        top: -50px;
    }
    .foot-h3{
        position: relative;
        top: -10px;
        padding-right: 90px;
    }
    .que{
        position: relative;
        left: -20px;
    }
}

@media(min-width:992px){
    .navb{
     background-color: transparent;
    }
    .nav-menu{
     position: relative;
     left: 550px;
     padding-top: 40px;
    }
     .adv{
        margin-top: 25px;
        margin-left: 150px;
       }
       .main-img{
        height: 750px;
       }
       .about-name{
        font-size: 85px;
        position: relative;
        left: 570px;
        top: 250px;
    }
    .con-name{
        position: relative;
        left: 100px;
    }
    .name-1,.email-1,.sub{
        height: 52px;
        width: 790px;
    }
    .mess{
        width: 790px;
        position: relative;
        top: 20px;
        left: 250px;
    }
    .name-1{
        position: relative;
        left: 250px;
        top: 20px;
    }
    .email-1{
        position: relative;
        top: 20px;
        left: 250px;
    }
    .sub{
        position: relative;
        top: 20px;
        left: 250px;
    }
    .sends{
        position: relative;
        top: 150px;
        left: -270px;
    }
    .foot-h3{
        padding-right: 600px;
    }
    .infn{
        position: relative;
        right: 300px;
    }
    .advn{
        position: relative;
        left: 180px;
    }
    .expe{
        position: relative;
        right: 250px;
    }
    .que{
        position: relative;
        left: -170px;
    }
    .footer{
        height: 600px;
        position: relative;
        top: 130px;
    }
    

}