@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@400..900&family=Ga+Maamli&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

:root{
    --bgColor:#1c062e;
    /* --bgColor:#DCE9F7; */
    --bgColor2:#fff;
    --button:#2840BF;
    --footer:#F4F5FC;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    font-family: "Nunito Sans", sans-serif;
}

  /* home start */
  .home{
    height: 90%;
    background-color: var(--bgColor);
    color: var(--bgColor2);
  }
  .home-left{
    margin-top: 35%;
  }
  .home-left h1{
    font-size: 30px;
  }
  .home-btn a{
    color: var(--bgColor);
    padding: 12px 24px;
    border-radius: 6px;
    background-color: var(--bgColor2);
  }
  .home-btn a:hover{
    border: 1px solid var(--bgColor2);
    background: transparent;
    color: var(--bgColor2);
  }
  .home-right{
    margin-top: 10%;
    position: relative;
  }









/* login page */
.bg-holder{
    margin-top: 0%;
    position: absolute;
    width: 100%;
    min-height: 94%;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn{
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-outline-custom {
    color: #31374a;
    border-color: #ddd;

}

.btn-outline-custom:hover{
    color: #31374a;
    border-color: #eee;
    background-color: #eee;
}

.input:focus{
    outline: none;
}




@media (min-width:768px) {
    .divider-content-center{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .nav-logo {
        font-size: 1.5rem;
    }
    .navbar img{
      width: 99px;
      height: 50px;
    }
   
}

@media (min-width:992px) {
    .divider-content-center{
        position: absolute;
        top: 51%;
        left: 71%;
    }
    .nav-link {
        font-size: 1rem;
    }
  
.bg-holder {
    margin-top: 0%;
}
  
  }
  
  
  
   